from_version: FROM
version: TO
upstream_path: /var/lib/sf/roles/upstream
install_base: /var/lib/debootstrap/install
metadata_base: /var/lib/debootstrap/metadata
install_path: "{{ install_base }}/{{ version }}"
metadata_path: "{{ metadata_base }}/{{ from_version }}"
clone_path: CLONE_PATH
