[gerrit.{{ fqdn }}]:29418 {{ gerrit_service_rsa_pub.split()[0] }} {{ gerrit_service_rsa_pub.split()[1] }}
# support gerrit connection to managesf too
[{{ fqdn }}]:29418 {{ gerrit_service_rsa_pub.split()[0] }} {{ gerrit_service_rsa_pub.split()[1] }}
[localhost]:29418 {{ gerrit_service_rsa_pub.split()[0] }} {{ gerrit_service_rsa_pub.split()[1] }}
[gerrit]:29418 {{ gerrit_service_rsa_pub.split()[0] }} {{ gerrit_service_rsa_pub.split()[1] }}
{% for host in inventory %}

# Host: {{ host['name'] }}.{{ fqdn }}
{{ host['name'] }}.{{ fqdn }} ssh-rsa {{ hostvars["%s.%s" % (host['name'], fqdn)].facter_sshrsakey }}
{% if "gateway" in host['roles'] %} # This is the gateway host, also set {{ fqdn }}
{{ fqdn }} ssh-rsa {{ hostvars["%s.%s" % (host['name'], fqdn)].facter_sshrsakey }}
{% endif %}
# Below are virtual hosts for each roles
{% for role in host['roles'] %}
{{ role }}.{{ fqdn }} ssh-rsa {{ hostvars["%s.%s" % (host['name'], fqdn)].facter_sshrsakey }}
{% endfor %}{% endfor %}
