$ModLoad ommail
$ActionMailSMTPServer localhost
$ActionMailFrom root@{{ fqdn }}
$ActionMailTo root@localhost
$template mailSubject,"SSH Login to %hostname%"
$template mailBody,"%msg%"
$ActionMailSubject mailSubject
if $msg contains 'Accepted publickey for' then :ommail:;mailBody
