<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Software Factory (<%= scope.function_hiera(["sf_version"]) %>)</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
	body, html {margin, padding:0;height:100%;}
	body {padding-top: 50px;}
	iframe {width:100%;height:100%;border:0;}
    </style>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Software Factory</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/dashboard/" target="content">Dashboard</a></li>
                <li><a href="/r/" target="content">Gerrit</a></li>
                <li><a href="/jenkins/" target="content">Jenkins</a></li>
                <li><a href="/zuul/" target="content">Zuul</a></li>
                <li><a href="/redmine/" target="content">Redmine</a></li>
                <li><a href="/etherpad/" target="content">Etherpad</a></li>
                <li><a href="/paste/" target="content">Paste</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li><a href="/docs/" target="content">Get Started</a></li>
                <li><a href="/auth/logout/" target="content">Logout</a></li>
            </ul>
        </div>
    </div>
    <iframe src="$target_url" width="100%" id="content" name="content"></iframe>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        // Prevent nested topmenu
        if (self != top) {
            top.location = self.location;
        }
    </script>
    <script type="text/javascript">
      var tid = setTimeout(updateUrl, 1);
      function updateUrl() {
        try {
          // Get iframe location
          var curl = document.getElementById("content").contentWindow.location.href;
          // Prepare new path
          var nurl = "_".concat(getPath(curl));
          // Get the main document location
          var nmurl = getPath(window.location.href);
          // Only append the path if not already appended
          if (nmurl != nurl) {
            // Replace the hash char by a pipe to allow the fragment to be
            // sent to web server
            history.replaceState(null, null, "/".concat(nurl).replace('#', '|'));
          };
        }
        catch (ex) {
        }
        tid = setTimeout(updateUrl, 500);
      };
      function getPath(url) {
        var t = url.split("/")
        var e = 0;
        while(e < 3) {
         t.shift();
         e++;
        };
        var t = t.join('/');
        return t
      };
    </script>
  </body>
</html>
