<VirtualHost *:80>
    # Enforce HTTPS for non-internal requests. HostnameLookups is required,
    # otherwise REMOTE_HOST contains only the IP address
    HostnameLookups On
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteCond %{REMOTE_HOST} !{{ fqdn }}$
    RewriteRule (.*) https://{{ fqdn }}%{REQUEST_URI} [R=301,L]

    # Some internal requests require larger refactoring, thus allow these kind
    # of requests for now
    Include conf.d/gateway.common
</VirtualHost>

<VirtualHost *:443>
    # Enforce using fqdn
    HostnameLookups On
    RewriteEngine On

    RewriteCond %{HTTP_HOST} !{{ fqdn }}$ [NC]
    RewriteCond %{HTTP_HOST} !{{ fqdn }}:8080$ [NC]
    RewriteRule (.*) https://{{ fqdn }}%{REQUEST_URI} [R=301,L]

    SSLEngine on
{% if network["use_letsencrypt"] %}
    SSLCertificateFile /etc/letsencrypt/pem/{{ fqdn }}.pem
    SSLCertificateChainFile /etc/letsencrypt/pem/lets-encrypt-x3-cross-signed.pem
    SSLCertificateKeyFile /etc/letsencrypt/private/{{ fqdn }}.key
{% else %}
    SSLCertificateFile /etc/pki/tls/certs/{{ fqdn }}.crt
    SSLCertificateChainFile /etc/pki/tls/certs/{{ fqdn }}-chain.crt
    SSLCertificateKeyFile  /etc/pki/tls/private/{{ fqdn }}.key
{% endif %}

    Include conf.d/gateway.common
</VirtualHost>
