<IfModule mod_proxy.c>
    ProxyPass /app/kibana http://kibana.{{ fqdn }}:5601/app/kibana
    ProxyPassReverse /app/kibana http://kibana.{{ fqdn }}:5601/app/kibana

    ProxyPass /bundles http://kibana.{{ fqdn }}:5601/bundles
    ProxyPassReverse /bundles http://kibana.{{ fqdn }}:5601/bundles

    ProxyPass /elasticsearch http://kibana.{{ fqdn }}:5601/elasticsearch
    ProxyPassReverse /elasticsearch http://kibana.{{ fqdn }}:5601/elasticsearch
</IfModule>
