<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <base target="_parent" />
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        {% if gateway_topmenu_logo_data %}
          <div class="navbar-header">
              <a class="navbar-brand" href="/sf/welcome.html"><img src="data:image/png;base64,{{ gateway_topmenu_logo_data }}" style="height: 50px; margin-top: -14px; margin-left: -14px; margin-right: -14px;" alt="Software Factory" title="Software Factory" /></a>
          </div>
        {% else %}
          <div class="navbar-header">
            <a class="navbar-brand" href="/sf/welcome.html">Software Factory</a>
          </div>
        {% endif %}
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/dashboard/" target="_top">Dashboard</a></li>
            {% if 'gerrit' in roles %}
                <li><a href="/r/" target="_top">Gerrit</a></li>
            {% endif %}
            {% if 'jenkins' in roles %}
                <li><a href="/jenkins/" target="_top">Jenkins</a></li>
            {% endif %}
                <li><a href="/zuul/" target="_top">Zuul</a></li>
            {% if 'storyboard' in roles %}
                <li><a href="/storyboard/" target="_top">Storyboard</a></li>
            {% endif %}
            {% if 'kibana' in roles %}
                <li><a href="/app/kibana" target="_top">Kibana</a></li>
            {% endif %}
            {% if 'redmine' in roles %}
                <li><a href="/redmine/" target="_top">Redmine</a></li>
            {% endif %}
            {% if 'etherpad' in roles %}
                <li><a href="/etherpad/" target="_top">Etherpad</a></li>
            {% endif %}
            {% if 'lodgeit' in roles %}
                <li><a href="/paste/" target="_top">Paste</a></li>
            {% endif %}
            {% if 'repoxplorer' in roles %}
                <li><a href="/repoxplorer/" target="_top">RepoXplorer</a></li>
            {% endif %}
            {% if 'murmur' in roles %}
                <li><a href="mumble://{{ fqdn }}/?version=1.2.0">Mumble</a></li>
            {% endif %}
            </ul>
            <ul class="nav navbar-nav pull-right">
                {{ theme["topmenu_custom_entry"] }}
                <li><p class="navbar-text" id="login-msg"></p></li>
                <li><a href='/sf/user_settings.html' id="login-setting">Settings</a></li>
                <li><p class="navbar-btn">
                    <a id="logout-btn" href="/r/logout" target="_top" class="btn btn-danger">Logout</a>
                    <a id="login-btn" href="/r/login" target="_top" class="btn btn-primary">Login</a>
                </p></li>
                <li>&nbsp;</li>
            </ul>
        </div>
    </div>
  </body>
  <script type="text/javascript" src="/static/js/menu.js"></script>
</html>
