[Unit]
Description=Run LodgeIt.
After=syslog.target network.target mariadb.service

[Service]
Type=simple
ExecStart=/usr/bin/python /srv/lodgeit/lodgeit/manage.py runserver

[Install]
WantedBy=multi-user.target
