<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css">
        <script type="text/javascript" src="/static/js/topmenu.js"></script>
    </head>

    <body>

        <div class="container">
            <div class="col-sm-12 col-md-12 col-xs-12">
                <div class="list-group col-sm-12">
                    <h2>Welcome to Software Factory!</h2>
                    <p style="font-size: 1.3em;">
                            Software Factory is an open source, integrated agile
                            development platform that provides integrated tools
                            for collaborative software development. Software
                            Factory is designed to help organizations deliver
                            high quality applications efficiently and seamlessly
                            across distributed development teams.
                    </p>
                    <hr />
                </div>
            </div>

            <div class="col-sm-4 col-md-4 col-xs-4">
                <div class="panel panel-default" id="login">
                    <div class="panel-body text-center">
                    % if message:
                        <div class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span>${message}</span>
                        </div>
                    % endif
                        <form method="post" action="/auth/login/" target="_top">
                        <input type="hidden" name="back" value="${back}">
                        <input type="hidden" name="method" value="Github">
                            <button type="submit" class="btn btn-primary col-md-12">
                                <i class="fa fa-lg fa-github"></i>
                                &nbsp;&nbsp;Log in with Github
                                <i class="fa fa-sign-in fa-fw"></i>
                            </button>
                       </form>
                       <hr />
                        <form method="post" action="/auth/login/" class="form-signin" target="_top">
                            % if message:
                            <div class="form-group has-error">
                            % else:
                            <div class="form-group">
                            % endif
                                <input class="form-control" name="username" id="username" type="text" value="" placeholder="Username" required autofocus>
                            </div>

                            % if message:
                            <div class="form-group has-error">
                            % else:
                            <div class="form-group">
                            % endif
                                <input class="form-control" name="password" id="password" type="password" placeholder="Password" required>
                            </div>

                            <input type="hidden" name="back" value="${back}">
                            <input type="hidden" name="method" value="Password">
                            
                            <button type="submit" class="btn btn-primary col-md-12">
                                Internal Login
                                <i class="fa fa-sign-in fa-fw"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-xs-6">
                <div class="pael pnel-default">
                    <div class="pael-body">
                        <div class="list-group">
                            <i class="fa fa-3x fa-book pull-left fa-fw"></i>
                            <h4 class="list-group-item-heading">Documentation</h4>
                            <p class="list-group-item-text">
                                <strong>
                                    <a href="/_docs/">
                                        Read the documentation <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </strong>
                            </p>
                        </div>

                         <div class="list-group">
                            <i class="fa fa-3x fa-code-fork pull-left fa-fw"></i>
                            <h4 class="list-group-item-heading">Getting started</h4>
                            <p class="list-group-item-text">
                                <strong>
                                    <a href="/_docs/contribute.html">
                                        How to contribute <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </strong>
                            </p>
                        </div>

                        <div class="list-group">
                            <i class="fa fa-3x fa-github pull-left fa-fw"></i>
                            <h4 class="list-group-item-heading">Discover</h4>
                            <p class="list-group-item-text">
                                <strong>
                                    <a href="https://github.com/enovance/software-factory">
                                        Check out the code at Git Hub <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </strong>
                            </p>
                        </div>

                        <div class="list-group">
                            <i class="fa fa-3x fa-envelope-o pull-left fa-fw"></i>
                            <h4 class="list-group-item-heading">Contact</h4>
                            <p class="list-group-item-text">
                                <strong>
                                    <a href="mailto:softwarefactory@enovance.com">
                                        Send us an email <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </strong>
                            </p>
                        </div>

                    </div>
                </div>
            </div>

        

    </body>
</html>
