<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css">
        <script type="text/javascript" src="/static/js/topmenu.js"></script>
    </head>

    <body>

        <div class="container">
            <br />
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default" id="login">
                    <div class="panel-body text-center">
                    % if message:
                        <div class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span>${message}</span>
                        </div>
                    % endif
                        <form method="post" action="/auth/login/" target="_top">
                        <input type="hidden" name="back" value="${back}">
                        <input type="hidden" name="method" value="Github">
                            <button type="submit" class="btn btn-primary col-md-12">
                                <i class="fa fa-lg fa-github"></i>
                                &nbsp;&nbsp;Log in with Github
                                <i class="fa fa-sign-in fa-fw"></i>
                            </button>
                       </form>
                       <br />
                       <hr />
                        <form method="post" action="/auth/login/" target="_top">
                        <input type="hidden" name="back" value="${back}">
                        <input type="hidden" name="method" value="OpenID">
                            <button type="submit" class="btn btn-warning col-md-12">
                                <i class="fa fa-lg fa-openid"></i>
                                &nbsp;&nbsp;Log in with Launchpad
                                <i class="fa fa-sign-in fa-fw"></i>
                            </button>
                       </form>
                       <br />
                       <hr />
                        <form method="post" action="/auth/login/" class="form-signin" target="_top">
                            % if message:
                            <div class="form-group has-error">
                            % else:
                            <div class="form-group">
                            % endif
                                <input class="form-control" name="username" id="username" type="text" value="" placeholder="Username" required autofocus>
                            </div>

                            % if message:
                            <div class="form-group has-error">
                            % else:
                            <div class="form-group">
                            % endif
                                <input class="form-control" name="password" id="password" type="password" placeholder="Password" required>
                            </div>

                            <input type="hidden" name="back" value="${back}">
                            <input type="hidden" name="method" value="Password">

                            <button type="submit" class="btn btn-primary col-md-12">
                                Internal Login
                                <i class="fa fa-sign-in fa-fw"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        <%= scope.function_hiera(["loginpage_custom_footer"]) %>
    </body>
</html>
