[default]
pidfile = /var/run/germqtt.pid

[gerrit]
username=jenkins
hostname=gerrit.{{ fqdn }}
key=/usr/share/germqtt/.ssh/id_rsa

[mqtt]
hostname={{ mosquitto_host }}
topic=gerrit
qos = 2
username=SF_SERVICE_USER
password={{ sf_service_user_password }}
