[Unit]
Description=Gerrit Service
After=syslog.target network.target

[Service]
Type=simple
User=gerritbot
Group=gerritbot
PIDFile=/var/run/gerritbot/gerritbot.pid
ExecStart=/usr/bin/gerritbot /etc/gerritbot/gerritbot.conf
ExecStop=/usr/bin/kill -9 $MAINPID

[Install]
WantedBy=multi-user.target
