role_actions:
  - install
  - setup
  - update
  - get_logs

managesf_loglevel: INFO
managesf_root_loglevel: WARNING

managesf_port: 20001

managesf_mysql_host: "mysql.example.com"
managesf_mysql_port: 3306
managesf_mysql_db: "managesf"
managesf_mysql_user: "managesf"
managesf_mysql_password: "CHANGE_ME"
