heat_template_version: 2013-05-23

description: >
  Heat SoftwareFactory Jenkins template.

parameters:
  key_name:
    type: string
    description:  Name of a KeyPair to enable SSH access to the instance
  instance_type:
    type: string
    description: Instance type for sf roles
    default: m1.medium
    constraints:
      - allowed_values: [m1.small, m1.medium, m1.large]
        description: instance_type must be one of m1.small, m1.medium or m1.large
  image_id:
    type: string
    description: ID of the sf edeploy role image

resources:
  jenkins_floating_ip:
    type: OS::Nova::FloatingIP
    properties:
      pool: "nova"

  associate_public_ip_to_jenkins_instace:
    type: OS::Nova::FloatingIPAssociation
    properties:
      floating_ip: {get_resource: jenkins_floating_ip}
      server_id: {get_resource: jenkins_instance}

  puppetmaster_floating_ip:
    type: OS::Nova::FloatingIP
    properties:
      pool: "nova"

  associate_public_ip_to_puppetmaster_instace:
    type: OS::Nova::FloatingIPAssociation
    properties:
      floating_ip: {get_resource: puppetmaster_floating_ip}
      server_id: {get_resource: puppetmaster_instance}

  puppetmaster_instance:
    type: OS::Nova::Server
    properties:
      image: { get_param: image_id }
      flavor: { get_param: instance_type }
      key_name: { get_param: key_name }
      user_data:
        str_replace:
          template: |
            #!/bin/bash -v
            cat > /etc/puppet/puppet.conf << EOF
            [main]
            logdir=/var/log/puppet
            vardir=/var/lib/puppet
            ssldir=/var/lib/puppet/ssl
            rundir=/var/run/puppet
            factpath=$vardir/lib/facter
            templatedir=$confdir/templates
            certname=SF_PREFIX-puppetmaster.pub
            server=SF_PREFIX-puppetmaster.pub
            autosign=true

            [master]
            # These are needed when the puppetmaster is run by passenger
            # and can safely be removed if webrick is used.
            ssl_client_header = SSL_CLIENT_S_DN
            ssl_client_verify_header = SSL_CLIENT_VERIFY
            EOF
            echo "127.0.0.1 heat-puppetmaster.pub heat-puppetmaster" > /etc/hosts
            echo "jenkins_host heat-jenkins.pub heat-jenkins" >> /etc/hosts
            /etc/init.d/puppetmaster stop
            rm -Rf /var/lib/puppet/ssl/*
            /etc/init.d/puppetmaster start
          params:
            jenkins_host: { get_attr: [jenkins_floating_ip, ip] }

  jenkins_instance:
    type: OS::Nova::Server
    properties:
      image: { get_param: image_id }
      flavor: { get_param: instance_type }
      key_name: { get_param: key_name }
      user_data:
        str_replace:
          template: |
            #!/bin/bash -v
            sed -i "s/127.0.0.1/0.0.0.0/" /etc/mysql/my.cnf
            sed -i -e '0,/^$/s/^$/server=heat-puppetmaster.pub\n/g' /etc/puppet/puppet.conf
            echo puppetmaster_host heat-puppetmaster.pub >> /etc/hosts
            update-rc.d jenkins start
          params:
            puppetmaster_host: { get_attr: [puppetmaster_floating_ip, ip] }

outputs:
  Jenkins_address:
    description: Address of Jenkins
    value:
      str_replace:
        template: host
        params:
          host: { get_attr: [jenkins_instance, first_address] }

