export HOST="{{ fqdn }}"

export OS_AUTH_URL="{{ backup_os_auth_url }}"
export OS_TENANT_NAME="{{ backup_os_tenant_name }}"
export OS_USERNAME="{{ backup_os_username }}"
export OS_PASSWORD="{{ backup_os_password }}"
export OS_AUTH_VERSION="{{ backup_os_auth_version }}"

export BACKUP_CONTAINER="{{ backup_swift_backup_container }}"
export BACKUP_RET="{{ backup_swift_backup_max_retention_secs }}"
