# This file is managed by sfconfig.sh, don't edit.

pipelines:
  - name: periodic_mirrors
    description: This pipeline manages swift mirrors update
    manager: IndependentPipelineManager
    precedence: low
    trigger:
      timer:
        - time: '{{ mirrors.periodic_update }}'
    failure:
      smtp:
        from: jenkins@{{ fqdn }}
        to: dev-robot@{{ fqdn }}
        subject: '{{ fqdn }}: Periodic mirror update failed'

projects:
  # This is a fake project name to register the periodic job
  - name: sf-mirror-update
    periodic_mirrors:
      - sf-mirror-update
