# This file is managed by ansible, don't edit

- job:
    name: 'sf-mirror-update'
    defaults: global
    builders:
      - shell: |
          echo "Updating configuration using $ZUUL_COMMIT"
          ssh root@managesf.{{fqdn}} sf_mirror_update
    triggers:
      - zuul
    node: master
