---
- include: /etc/ansible/tasks/create_user.yml user_name=mirror2swift

- name: "Install configuration updater"
  copy: src=mirror2swift-config-merger.py dest=/usr/local/libexec/software-factory/mirror2swift-config-merger.py mode=0555
