- project: internal/config
  description: The software factory deployment configuration
  use-storyboard: true
  groups:
    - software-factory-config
- project: internal/password-store
  description: The encrypted password store
  use-storyboard: true
  groups:
    - software-factory-config
