[Unit]
Description=Germqtt Daemon
After=mosquitto.service

[Service]
Type=simple
ExecStart=/usr/bin/germqtt /etc/germqtt/germqtt.conf --foreground
User=germqtt
Group=germqtt

[Install]
WantedBy=multi-user.target
