[project]
	description = Access inherited by all other projects.
[receive]
	requireContributorAgreement = false
	requireSignedOffBy = false
	requireChangeId = true
[submit]
	mergeContent = true
[capability]
	administrateServer = group Administrators
	accessDatabase = group Administrators
	priority = batch group Non-Interactive Users
	streamEvents = group Non-Interactive Users
[access "refs/*"]
	read = group Administrators
	read = group Anonymous Users
[access "refs/for/refs/*"]
	push = group Registered Users
	pushMerge = group Registered Users
[access "refs/heads/*"]
	create = group Administrators
	create = group Project Owners
	forgeAuthor = group Registered Users
	forgeCommitter = group Administrators
	forgeCommitter = group Project Owners
	push = +force group Administrators
	push = +force group Project Owners
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Project Owners
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -2..+2 group Non-Interactive Users
	label-Verified = -1..+1 group Administrators
	label-Verified = -1..+1 group Project Owners
	submit = group Administrators
	submit = group Project Owners
	submit = group Non-Interactive Users
	editTopicName = +force group Administrators
	editTopicName = +force group Project Owners
[access "refs/meta/config"]
	exclusiveGroupPermissions = read
	read = group Administrators
	read = group Project Owners
	read = group Registered Users
	read = group Anonymous Users
	push = group Administrators
	push = group Project Owners
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Project Owners
	submit = group Administrators
	submit = group Project Owners
[access "refs/tags/*"]
	pushTag = +force group Administrators
	pushTag = +force group Project Owners
	pushAnnotatedTag = group Administrators
	pushAnnotatedTag = group Project Owners
	pushSignedTag = group Administrators
	pushSignedTag = group Project Owners
	create = group Administrators
	create = group Project Owners
	forgeAuthor = group Administrators
	forgeAuthor = group Project Owners
	forgeCommitter = group Administrators
	forgeCommitter = group Project Owners
	push = group Administrators
	push = group Project Owners
[label "Code-Review"]
	function = MaxWithBlock
	copyMinScore = true
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
	value = -2 Do not submit
	value = -1 I would prefer that you didn't submit this
	value =  0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me (core reviewer)
[label "Verified"]
	function = MaxWithBlock
	value = -2 Fails
	value = -1 Doesn't seem to work
	value =  0 No score
	value = +1 Works for me
	value = +2 Verified
[label "Workflow"]
	function = MaxWithBlock
	value = -1 Work in progress
	value = 0 Ready for reviews
	value = +1 Approved
