---
- name: "Backup data"
  synchronize:
    mode: pull
    src: "{{ item }}"
    dest: "{{ backup_dest }}/"
    delete: yes
    rsync_opts: --relative
  with_items:
    - /var/lib/jenkins/jobs
    - /var/lib/jenkins/secret.key
    - /var/lib/jenkins/secret.key.not-so-secret
    - /var/lib/jenkins/credentials.xml
