[Unit]
Description=Socat for redirect 29418 to gerrit node.
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/socat TCP4-LISTEN:29418,fork,reuseaddr TCP4:gerrit:29418

[Install]
WantedBy=multi-user.target
