  set daemon 120
  set logfile /var/log/monit.log
  set idfile /var/.monit.id
  set statefile /var/.monit.state
  set mailserver localhost
  set eventqueue
      basedir /var/monit
      slots 100
  set mail-format { from: {{ mail_from }} }
  set alert {{ mail_to }}
  set httpd port 2812 and
    use address 0.0.0.0
    allow 0.0.0.0/0.0.0.0
  include /etc/monit.d/*
