gearman-host: job-logs-gearman-client.{{ domain }}
gearman-port: 4731
output-host: logstash.{{ domain }}
output-port: 9999
output-mode: tcp
#crm114-script: /usr/local/bin/classify-log.crm
#crm114-data: /var/lib/crm114
