[loggers]
keys=root,image,nodepool

[handlers]
keys=console,normal,image

[formatters]
keys=console,normal

[logger_root]
handlers=console,normal
level={{ nodepool_root_loglevel }}

[logger_nodepool]
handlers=console,normal
propagate=0
qualname=nodepool
level={{ nodepool_loglevel }}

[logger_image]
handlers=image
propagate=0
qualname=nodepool.image
level={{ nodepool_loglevel }}


[handler_console]
level=INFO
class=StreamHandler
formatter=console
args=(sys.stdout,)

[handler_normal]
level=DEBUG
class=logging.handlers.TimedRotatingFileHandler
formatter=normal
args=('/var/log/nodepool/nodepool.log', 'H', 8, 30,)

[handler_image]
level=DEBUG
class=logging.handlers.TimedRotatingFileHandler
formatter=normal
args=('/var/log/nodepool/image.log', 'H', 8, 30,)


[formatter_normal]
format=%(asctime)s %(levelname)s %(name)s: %(message)s
datefmt=

[formatter_console]
format=%(levelname)7s %(name)s: %(message)s
datefmt=
