[database]
dburi=mysql+pymysql://{{ nodepool_mysql_user }}:{{ nodepool_mysql_password }}@{{ nodepool_mysql_host }}:{{ nodepool_mysql_port }}/{{ nodepool_mysql_db }}

[jenkins "default"]
user=jenkins
apikey={{ jenkins_password }}
credentials=4f98191e-efbb-4ac4-8131-0e4a8bb2ce14
url={{ jenkins_api_url }}
