[loggers]
keys=root,gear

[handlers]
keys=console,normal

[formatters]
keys=console,normal

[logger_root]
handlers=console,normal
level={{ zuul_root_loglevel }}

[logger_gear]
qualname=gear
handlers=console,normal
propagate=0
level={{ zuul_gear_loglevel }}


[handler_console]
level=INFO
class=StreamHandler
formatter=console
args=(sys.stdout,)

[handler_normal]
level=DEBUG
class=logging.handlers.TimedRotatingFileHandler
formatter=normal
args=('/var/log/zuul/gearman-server.log', 'midnight', 1, 3,)


[formatter_normal]
format=%(asctime)s %(levelname)s %(name)s: %(message)s
datefmt=

[formatter_console]
format=%(levelname)7s %(name)s: %(message)s
datefmt=
