Listen 8084
NameVirtualHost *:8084

<VirtualHost *:8084>
  DocumentRoot /var/www/zuul

  LogLevel warn

  RewriteEngine on
  RewriteRule ^/status.json$ http://127.0.0.1:8001/status.json [P]

  SetEnv GIT_PROJECT_ROOT /var/lib/zuul/git/
  SetEnv GIT_HTTP_EXPORT_ALL

  <Directory /usr/libexec/git-core/>
    require all granted
  </Directory>

  AliasMatch ^/p/(.*/objects/[0-9a-f]{2}/[0-9a-f]{38})$ /var/lib/zuul/git/$1
  AliasMatch ^/p/(.*/objects/pack/pack-[0-9a-f]{40}.(pack|idx))$ /var/lib/zuul/git/$1
  ScriptAlias /p/ /usr/libexec/git-core/git-http-backend/
</VirtualHost>
