[Unit]
Description=Job logs gearman scheduler client
After=syslog.target network.target

[Service]
Type=simple
User=joblogsclient
Group=joblogsclient
ExecStart=/srv/log-gearman-client/bin/python /srv/log-gearman-client/bin/log-gearman-client.py -c /etc/log-gearman-client/config.yml --foreground -d /var/log/log-gearman-client/client.log

[Install]
WantedBy=multi-user.target
