#!/bin/bash
exec mysqldump --ignore-table mysql.event --ignore-table mysql.user \
    --databases mysql cauth managesf | gzip -9 | \
    ssh root@managesf.{{ fqdn }} tee /root/mysqldb.sql.gz > /dev/null
