templates:
- name: default
  branch: master
  gitweb: https://{{ fqdn }}/r/gitweb?p=%(name)s.git;a=commit;h=%%(sha)s
  uri: https://{{ fqdn }}/r/%(name)s
projects:
  {{ fqdn }}:
    - name: config
      template: default
