templates:
- name: default
  branch: master
  gitweb: https://{{ fqdn }}/r/gitweb?p=%(name)s.git;a=commitdiff;h=%%(sha)s;ds=sidebyside
  uri: https://{{ fqdn }}/r/%(name)s
projects:
  internal:
    - name: config
      template: default
