[Unit]
Description=Nodepool Service
After=syslog.target network.target mariadb.service

[Service]
Type=simple
User=nodepool
Group=nodepool
EnvironmentFile=-/etc/sysconfig/nodepool
ExecStart=/usr/bin/nodepoold -d -l /etc/nodepool/logging.conf

[Install]
WantedBy=multi-user.target
