- job-template:
    name: "health-{node}-unit-tests"
    defaults: global
    node: "{node}"
    triggers:
      - zuul
    builders:
      - prepare-workspace
      - shell: cd $ZUUL_PROJECT && ./run_tests.sh

- job-template:
    name: "health-{node}-functional-tests"
    defaults: global
    node: "{node}"
    triggers:
      - zuul
    builders:
      - prepare-workspace
      - shell: cd $ZUUL_PROJECT && ./run_functional-tests.sh
