- job-template:
    name: "health-{name}-unit-tests"
    defaults: global
    node: "{node}"
    triggers:
      - zuul
    builders:
      - prepare-workspace
      - shell: mkdir artifacts; cd $ZUUL_PROJECT && ./run_tests.sh
{% if test_log_export %}
    publishers:
      - postbuildscript:
          builders:
            - shell: /usr/local/bin/zuul_swift_upload.py --name {{ os_container }} --delete-after 86400  artifacts
          script-only-if-succeeded: False
          script-only-if-failed: False
{% endif %}

- job-template:
    name: "health-{name}-functional-tests"
    defaults: global
    node: "{node}"
    triggers:
      - zuul
    builders:
      - prepare-workspace
      - shell: cd $ZUUL_PROJECT && ./run_functional-tests.sh
