{% if test_log_export %}
jobs:
  - name: ^health-.*$
    swift:
      - name: {{ os_container }}
{% endif %}

projects:
  - name: {{ project }}
    check:
{% for job in check %}
      - {{ job }}
{% endfor %}
    gate:
{% for job in gate %}
      - {{ job }}
{% endfor %}
