<!DOCTYPE html>
<html ng-app="sfDashboard">
<head>
    <meta http-equiv="Cache-control" content="no-cache, max-age=0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/js/angular.min.js"></script>
        <script type="text/javascript" src="/static/js/topmenu.js"></script>
        <script src="dashboard.js"></script>

    <style type="text/css">
    .input[disabled] {pointer-events: auto !important;}
        iframe {border-bottom: 1px solid #ddd;}
    </style>
</head>

<body ng-controller="mainController">
    <div class="container">
        <div class="pull-right">
            <button class="btn btn-success btn-xs" ng-if="htpasswd_set" ng-click="htpasswd_disable()" title="Disable password-protected API access to Gerrit for this user">
                <span class="glyphicon glyphicon-lock"></span>
            </button>

            <button class="btn btn-default btn-xs" ng-if="!htpasswd_set" ng-click="htpasswd_enable()" title="Enable authenticated API access to Gerrit using a randomly generated password for this user">
                <span class="glyphicon glyphicon-lock"></span>
            </button>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <iframe src="/grafana/dashboard-solo/db/zuul?panelId=1&fullscreen&theme=light" width="100%" height="200" frameborder="0" scrolling="no"></iframe>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <iframe src="/grafana/dashboard-solo/db/zuul?panelId=2&fullscreen&theme=light" width="100%" height="200" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>

        <div ng-if="errors" class="alert alert-danger" role="alert">
             <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <strong>Error!</strong>
            {{ errors }}
        </div>

        <div ng-if="loading" class="alert alert-info" role="alert">
             <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <strong>Loading...</strong> please wait.
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Project</th>
                    <th class="text-center">Open Reviews</th>
                    <th class="text-center">Open Bugs</th>
                    <th class="text-right">
                        <button type="button" class="btn btn-primary" ng-show="create_project_permission"
                        data-toggle="modal" data-target="#modal_create_project"
                        title="Create a new project in Gerrit and Redmine">
                            <span class="glyphicon glyphicon-plus">
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(project, entry) in projects">
                    <td><a href="/r/gitweb?p={{ project }}.git;a=summary">{{ project }}</a></td>
                    <td class="text-center"><a href="/r/#/q/status:open+project:{{ project }},n,z">{{ entry.open_reviews }}</a></td>
                    <td class="text-center"><a href="/redmine/projects/{{ entry.alt_name }}/issues">{{ entry.open_issues }}</a></td>
                    <td class="text-right">
                        <button class="btn btn-primary btn-xs" ng-click="membershipForm(project, entry)"
                            ng-if="entry.admin == 1" data-toggle="modal"
                            data-target="#modal_create_members" title="Manage user membership for this project">
                            <span class="glyphicon glyphicon-user"></span>
                        </button>
                        <button class="btn btn-danger btn-xs" ng-click="deleteProject(project)"
                            ng-if="entry.admin == 1" title="Delete this project and all associated data">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>


      <div class="modal fade" id="modal_create_members" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>

              <h4 class="modal-title">Add Members to project "{{ selectedProjectName }}" groups</h4>
            </div>

            <form>
              <div class="modal-body">
                  Search: <input ng-model="searchMember" placeholder="Search for users">
                  <table class="table table-stripped">
                      <thead><tr>
                          <th>Members</th>
              <th>PTL</th>
              <th>Core</th>
              <th>Dev</th>
                      </tr></thead>
                      <tbody>
                          <tr ng-repeat="member in selectedMembers | projectMembers:searchMember">
                              <td>{{ member.name }}</td>
                              <td><input type="checkbox" ng-model="member.groups.ptl" /></td>
                              <td><input type="checkbox" ng-model="member.groups.core" /></td>
                              <td>
                                  <input type="checkbox" ng-model="member.groups.dev" ng-if="selectedProject.private" />
                                  <input type="checkbox" disabled="disabled" ng-if="!selectedProject.private" title="Only available for private projects" />
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary"
                          ng-click="updateMembers()" data-dismiss="modal">Submit</button>
              </div>
            </form>

          </div>
        </div>
      </div>

      <div class="modal fade" id="modal_create_project" tabindex="-1" role="dialog" aria-labelledby="modal_create_projectLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <form class="form-horizontal" role="form">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                          </button>
                          <h4 class="modal-title" id="modal_create_projectLabel">Create new project</h4>
                      </div>

                      <div class="modal-body">
                          <div class="form-group">
                              <label for="projectname" class="col-sm-2 control-label">Projectname</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" id="projectname" placeholder="Project name" ng-model="data.name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="description" class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="description" placeholder="A short description for this project" ng-model="data.description">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="upstream" class="col-sm-2 control-label">Upstream</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="upstream" placeholder="For example: git://tests.net/git/sample.git" ng-model="data.upstream">
                                </div>
                            </div>
                            <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                  <label>
                                    <input id="add_branches" type="checkbox" ng-model="data.add_branches"/>Include all the branches from the upstream repository.</label>
                                </div>
                              </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="private" ng-model="data.private">Make the project private</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" ng-click="createProject()" data-dismiss="modal">Create project</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
