source-url: http://{{ domain }}/jenkins

# List of zmq event inputs.
zmq-publishers:
  - tcp://jenkins.{{ domain }}:8888

subunit-files: []
# List of files to source logs from.
source-files:
  - name: consoleText
    tags:
      - console
