# This is demo file.

# Jobs
# ====

- job:
    name: 'demo-job'
    defaults: global
    builders:
      - prepare-workspace
      - shell: |
          cd $ZUUL_PROJECT
          echo "This is a demo job"
    triggers:
      - zuul
    node: slave-label

# Projects
# ========
- project:
    name: zuul-demo
    node: master
    jobs:
      - '{name}-unit-tests'
      - '{name}-functional-tests'
