[Unit]
Description=Zuul Server Service
After=syslog.target network.target

[Service]
Type=simple
User=zuul
Group=zuul
EnvironmentFile=-/etc/sysconfig/zuul
ExecStart=/usr/bin/zuul-server -d
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
