[Unit]
Description=Zuul Merger Service
After=syslog.target network.target gerrit.service

[Service]
Type=simple
User=zuul
Group=zuul
LimitNOFILE=8192
EnvironmentFile=-/etc/sysconfig/zuul
ExecStart=/usr/bin/zuul-merger -d
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
