# This file is managed by ansible, don't edit

127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{% for hostip in hosts_file %}

{{ hostip }}{% for cname in hosts_file[hostip] %} {{ cname }}{% endfor %}
{% endfor %}

{% for host in (network|default({'static_hostnames':[]}))["static_hostnames"]|default([]) %}{{ host }}
{% endfor %}
