[gerrit.{{ fqdn }}]:29418 {{ gerrit_service_rsa_pub.split()[0] }} {{ gerrit_service_rsa_pub.split()[1] }}

# support gerrit connection to managesf too
[{{ fqdn }}]:29418 {{ gerrit_service_rsa_pub.split()[0] }} {{ gerrit_service_rsa_pub.split()[1] }}

{% for host in groups["all"] %}
{% if host.startswith('managesf.') %}{{ fqdn }} ssh-rsa {{ hostvars[host].facter_sshrsakey }}
{% endif %}
{{ host }} ssh-rsa {{ hostvars[host].facter_sshrsakey }}
{% endfor %}
