# This file is managed by ansible, don't edit
# It's the list of host sort by roles group.
{% for role in roles %}

[{{ role }}]
{% for host in roles[role] %}
{{ host['hostname'] }}{% if 'install-server' in host['roles'] %} ansible_connection=local{% endif %}
{% endfor %}

{% endfor %}
