# This file is managed by ansible, don't edit
# It's the serverspec hosts.yaml file.
{% for host in inventory %}
{{ host['name'] }}:
  :roles:
    - base
    - postfix
    - ntp
{% for role in host['roles'] %}{% if role in ('mysql', 'gerrit', 'jenkins', 'zuul', 'nodepool', 'managesf', 'murmur', 'storyboard', 'elasticsearch', 'mirror', 'job-logs-gearman-client', 'job-logs-gearman-worker', 'logstash', 'kibana', 'repoxplorer', 'rabbitmq') %}
    - {{ role }}
{% endif %}{% endfor %}
  :username: root
  :hostname: {{ host['hostname'] }}

{% endfor %}
