---
# This playbook reconfigure service based on config repo.
#

# Check config repo HEAD and update /root/config copy for each services
- hosts: localhost
  tasks:
    - name: Get config sha1
      command: git ls-remote -h http://{{ '{{' }} fqdn {{ '}}' }}/r/config.git
      register: configsha

- hosts: jenkins:zuul:nodepool:managesf:gerrit{% if 'gerritbot' in roles %}:gerritbot{% endif %}{% if 'mirror' in roles %}:mirror{% endif %}{% if 'repoxplorer' in roles %}:repoxplorer{% endif %}

  tasks:
    - include: tasks/update_configrepo.yaml

- hosts: jenkins
  roles:
    - {role: 'sf-jenkins', action: 'update'}

- hosts: zuul
  roles:
    - {role: 'sf-zuul', action: 'update'}

{% if 'gerritbot' in roles %}
- hosts: gerritbot
  roles:
    - {role: 'sf-gerritbot', action: 'update'}
{% endif %}

- hosts: nodepool
  roles:
    - {role: 'sf-nodepool', action: 'update'}

- hosts: gerrit
  tasks:
    # TODO: move this task to a replication role update action
    - include: tasks/gerrit_replication_update.yaml
  roles:
    - {role: 'sf-gerrit', action: 'update'}

- hosts: managesf
  roles:
    - {role: 'sf-managesf', action: 'update'}

{% if 'mirror' in roles %}
- hosts: mirror
  roles:
    - {role: 'sf-mirror', action: 'update'}
{% endif %}

{% if 'repoxplorer' in roles %}
- hosts: repoxplorer
  roles:
    - {role: 'sf-repoxplorer', action: 'update'}
{% endif %}
