---
# This playbook reconfigure service based on config repo.
- hosts: jenkins
  gather_facts: no
  tasks:
    - include: tasks/jenkins_update.yaml
- hosts: zuul
  gather_facts: no
  tasks:
    - include: tasks/zuul_update.yaml
{% if 'gerritbot' in roles %}
- hosts: gerritbot
  tasks:
    - include: tasks/gerritbot_update.yaml
{% endif %}
- hosts: nodepool
  gather_facts: no
  tasks:
    - include: tasks/nodepool_update.yaml
- hosts: gerrit
  gather_facts: no
  tasks:
    - include: tasks/gerrit_replication_update.yaml
- hosts: managesf
  gather_facts: no
  pre_tasks:
    - include: tasks/update_configrepo.yaml
  roles:
    - {role: 'sf-managesf', action: 'update'}
{% if 'mirror' in roles %}
- hosts: mirror
  gather_facts: no
  pre_tasks:
    - include: tasks/update_configrepo.yaml
  roles:
    - {role: 'sf-mirror', action: 'update'}
{% endif %}
