---
# This file is managed by sfconfig.sh, don't edit.
# This playbook applies puppet and ansible roles.

- hosts: managesf
  gather_facts: no
  tasks:
    - include: tasks/update_fqdn_step1.yaml

{% for host in inventory %}{% if 'install-server' not in host['roles'] %}

- hosts: {{ host['hostname'] }}
  tasks:
    - name: Copy hiera configuration
      synchronize: src=/etc/puppet/hiera/ dest=/etc/puppet/hiera/ delete=yes
{% endif %}{% endfor %}

- hosts: all
  pre_tasks:
    - include: /etc/ansible/tasks/selinux_check.yml
  roles:
    - sf-base

- hosts: mysql
  roles:
    - sf-mysql

{% for host in inventory %}
- hosts: {{ host['hostname'] }}
  roles:
{% for role in host['rolesname'] %}{% if role != 'sf-mysql' %}    - {{ role }}
{% endif %}{% endfor %}
  post_tasks:
    - include: /etc/ansible/tasks/puppet.yml puppet_statement="{{ host['puppet_statement'] }}"
    - include: /etc/ansible/tasks/selinux_finalize.yml
      when: selinuxenabled

{% endfor %}

- hosts: managesf
  gather_facts: no
  tasks:
    - include: tasks/update_fqdn_step2.yaml
