---
# This file is managed by ansible, don't edit
# This playbook do post configuration tasks

# Check config repo HEAD and update /root/config copy for each services
- hosts: localhost
  tasks:
    - name: Get config sha1
      command: git ls-remote -h http://{{ '{{' }} fqdn {{ '}}' }}/r/config.git
      register: configsha

{% for host in inventory %}
- hosts: {{ host['hostname'] }}
  roles:
{% for role in host['rolesname'] %}    - {role: "{{ role }}", action: "postconf"}
{% endfor %}
{% endfor %}
