---
# Retrieve backup file
- hosts: localhost
  tasks:
    - name: "Signal journald"
      command: "logger sf_restore.yml: started"

    - name: "Remove previous backup"
      file: path=/var/lib/software-factory/backup state=absent

    - name: "Remove previous config"
      file: path=/root/config state=absent

    - name: "Create empty backup directory"
      file: path=/var/lib/software-factory/backup state=directory mode=0700

    - name: "Extract backup file"
      unarchive:
          src: "{{'{{'}} backup_file|default('/var/www/managesf/sf_backup.tar.gz') {{'}}'}}"
          dest: /var/lib/software-factory/backup
          remote_src: yes

# Call stop task
{% for host in inventory %}
- hosts: {{ host['hostname'] }}
  roles:
{% for role in host['roles'] %}    - {role: "sf-{{ role }}", action: "stop"}
{% endfor %}
{% endfor %}

# Call restore task
{% for host in inventory %}
- hosts: {{ host['hostname'] }}
  roles:
{% for role in host['roles'] %}    - {role: "sf-{{ role }}", action: "restore", backup_src: "/var/lib/software-factory/backup/{{ role }}"}
{% endfor %}
{% endfor %}

# Call sfconfig
- hosts: localhost
  tasks:
    - name: "Re-run sfconfig.py"
      shell: sfconfig.py &>> /var/log/software-factory/sfconfig-restore.log

    - name: "Signal journald"
      command: "logger sf_restore.yml: ended"
