---
# This file is managed by sfconfig.sh, don't edit.
# This playbook applies puppet and ansible roles.

- hosts: managesf
  gather_facts: no
  tasks:
    - include: tasks/update_fqdn_step1.yaml

{% for host in inventory %}{% if 'install-server' not in host['roles'] %}

- hosts: {{ host['hostname'] }}
  tasks:
    - name: Copy hiera configuration
      synchronize: src=/etc/puppet/hiera/ dest=/etc/puppet/hiera/ delete=yes
{% endif %}{% endfor %}

- hosts: managesf
  roles:
    - {name: "sf-ssh", action: "setup"}

- hosts: all
  pre_tasks:
    - include: /etc/ansible/tasks/selinux_check.yml
  roles:
    - {name: "sf-base", action: "setup"}

- hosts: mysql
  roles:
    - {name: "sf-mysql", action: "setup"}

{% for host in inventory %}
- hosts: {{ host['hostname'] }}
  roles:
{% for role in host['rolesname'] %}{% if role != 'sf-mysql' %}    - {name: "{{ role }}", action: "setup"}
{% endif %}{% endfor %}
  post_tasks:
{% if host['puppet_statement'] != 'include ' %}
    - include: /etc/ansible/tasks/puppet.yml puppet_statement="{{ host['puppet_statement'] }}"
{% endif %}
    - include: /etc/ansible/tasks/selinux_finalize.yml
      when: selinuxenabled

{% endfor %}

- hosts: managesf
  gather_facts: no
  tasks:
    - include: tasks/update_fqdn_step2.yaml
