---
# This file is managed by sfconfig.sh, don't edit.
# This playbook applies ansible roles.

- hosts: localhost
  connection: local
  tasks:
    - include: tasks/ssh_populate_known_hosts.yml


# TODO: Fix fqdn update to work on distributed arch
- hosts: managesf
  gather_facts: no
  tasks:
    - include: tasks/update_fqdn_step1.yaml

# Setup install-server ssh keys
- hosts: localhost
  connection: local
  roles:
    - {name: "sf-ssh", action: "setup"}

# Setup sf-base role on all hosts
- hosts: all
  pre_tasks:
    - include: /etc/ansible/tasks/selinux_check.yml
  roles:
    - {name: "sf-postfix", action: "setup"}
    - {name: "sf-base", action: "setup"}
    - {name: "sf-monit", action: "setup"}

# Setup sf-mysql role before all components
- hosts: mysql
  roles:
    - {name: "sf-mysql", action: "setup"}

# Setup lecm if needed
- hosts: gateway
  roles:
    - {name: "sf-lecm", action: "setup", when: "network.use_letsencrypt"}

# Setup all components
{% for host in inventory %}
- hosts: {{ host['hostname'] }}
  roles:
{% for role in host['rolesname'] %}{% if role != 'sf-mysql' %}    - {name: "{{ role }}", action: "setup"}
{% endif %}{% endfor %}
  post_tasks:
    - include: /etc/ansible/tasks/selinux_finalize.yml
      when: selinuxenabled

{% endfor %}

# TODO: Fix fqdn update to work on distributed arch
- hosts: managesf
  gather_facts: no
  tasks:
    - include: tasks/update_fqdn_step2.yaml
