#!/bin/bash
#
# Copyright (C) 2016 Red Hat
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

set -x
set -e

# Clone the config project
CONF_TMP=$(mktemp -d)
git clone git+ssh://{{ fqdn }}/config ${CONF_TMP}

rsync -av /usr/local/share/sf-config-repo/ ${CONF_TMP}/ \
      --exclude jobs/projects.yaml \
      --exclude policies/policy.yaml \
      --exclude zuul/projects.yaml \
      --exclude nodepool/images.yaml \
      --exclude nodepool/labels.yaml \
      --exclude gerrit/replication.config \
      --exclude gerrit/commentlinks.yaml \
      --exclude gerritbot/channels.yaml \
      --exclude resources/resources.yaml

cd ${CONF_TMP}
# Replace nodepool private ssh key
sed -i 's#private-key: /var/lib/jenkins/.ssh/id_rsa#private-key: /var/lib/nodepool/.ssh/id_rsa#' nodepool/images.yaml
# Only perform the commit/review if the upgrade bring new modifications
if [ -n "$(git ls-files -o -m --exclude-standard)" ]; then
    git commit -a -m "Upgrade of base config repository files"
    git review -s
    git review -i
fi
cd -

rm -rf ${CONF_TMP}
