<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css">
        <script type="text/javascript" src="/static/js/topmenu.js"></script>
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <style type="text/css">
         div.panel-body {background-color: #f8f8f8;}
        </style>
    </head>

    <body>

        <div class="container">
            <br />
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default" id="login">
                    <div class="panel-body text-center">
                    % if message:
                        <div class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span>${message}</span>
                        </div>
                    % endif
                    {% if not authentication['oauth2']['github']['disabled'] %}
                        <form method="post" action="/auth/login/" target="_top">
                        <input type="hidden" name="back" value="${back}">
                        <input type="hidden" name="method" value="Github">
                            <button type="submit" class="btn btn-primary col-md-12">
                                <i class="fa fa-lg fa-github"></i>
                                &nbsp;&nbsp;Log in with Github
                                <i class="fa fa-sign-in fa-fw"></i>
                            </button>
                       </form>
                    {% endif %}
                    {% if not authentication['oauth2']['github']['disabled'] and (
                            not authentication['oauth2']['google']['disabled'] or
                            not authentication['oauth2']['bitbucket']['disabled'] or
                            not authentication['openid']['disabled'] or
                            not authentication['openid_connect']['disabled']) %}
                       <!-- If more than one external provider are enabled set a separator between them -->
                       <br />
                       <hr />
                    {% endif %}
                    {% if not authentication['oauth2']['google']['disabled'] %}
                        <form method="post" action="/auth/login/" target="_top">
                        <input type="hidden" name="back" value="${back}">
                        <input type="hidden" name="method" value="Google">
                            <button type="submit" class="btn btn-primary col-md-12">
                                <i class="fa fa-lg fa-google"></i>
                                &nbsp;&nbsp;Log in with Google
                                <i class="fa fa-sign-in fa-fw"></i>
                            </button>
                       </form>
                    {% if (not authentication['openid']['disabled'] or
                           not authentication['oauth2']['bitbucket']['disabled'] or
                           not authentication['openid_connect']['disabled']) %}
                       <!-- If more than one external provider are enabled set a separator between them -->
                       <br />
                       <hr />
                    {% endif %}
                    {% endif %}
                    {% if not authentication['oauth2']['bitbucket']['disabled'] %}
                        <form method="post" action="/auth/login/" target="_top">
                        <input type="hidden" name="back" value="${back}">
                        <input type="hidden" name="method" value="BitBucket">
                            <button type="submit" class="btn btn-primary col-md-12">
                                <i class="fa fa-lg fa-bitbucket"></i>
                                &nbsp;&nbsp;Log in with BitBucket
                                <i class="fa fa-sign-in fa-fw"></i>
                            </button>
                       </form>
                     {% if (not authentication['openid']['disabled'] or
                            not authentication['openid_connect']['disabled']) %}
                       <!-- If more than one external provider are enabled set a separator between them -->
                       <br />
                       <hr />
                     {% endif %}
                     {% endif %}

                     {% if not authentication['openid']['disabled'] %}
                       <form method="post" action="/auth/login/" target="_top">
                        <input type="hidden" name="back" value="${back}">
                        <input type="hidden" name="method" value="OpenID">
                            <button type="submit" class="btn btn-warning col-md-12">
                                <i class="fa fa-lg fa-openid"></i>
                                &nbsp;&nbsp; {{ authentication['openid']['login_button_text'] }}
                                <i class="fa fa-sign-in fa-fw"></i>
                            </button>
                       </form>
                     {% if (not authentication['openid_connect']['disabled']) %}
                       <!-- If more than one external provider are enabled set a separator between them -->
                       <br />
                       <hr />
                     {% endif %}
                     {% endif %}
                     {% if not authentication['openid_connect']['disabled'] %}
                        <form method="post" action="/auth/login/" target="_top">
                        <input type="hidden" name="back" value="${back}">
                        <input type="hidden" name="method" value="OpenIDConnect">
                            <button type="submit" class="btn btn-primary col-md-12">
                                <i class="fa fa-lg fa-bitbucket"></i>
                                &nbsp;&nbsp; {{ authentication['openid_connect']['login_button_text'] }}
                                <i class="fa fa-sign-in fa-fw"></i>
                            </button>
                       </form>
                     {% endif %}
                     {% if authentication['oauth2']['github']['disabled'] and
                           authentication['oauth2']['google']['disabled'] and
                           authentication['oauth2']['bitbucket']['disabled'] and
                           authentication['openid']['disabled'] and
                           authentication['openid_connect']['disabled'] %}
                       <div id="login-form">
                     {% else %}
                       <div id="login-form" class="hidden">
                       <br />
                       <hr />
                     {% endif %}
                        <p><b>Please enter your credentials</b></p>
                        <form method="post" action="/auth/login/" class="form-signin" target="_top"/>
                            % if message:
                            <div class="form-group has-error">
                            % else:
                            <div class="form-group">
                            % endif
                                <input class="form-control" name="username" id="username" type="text" value="" placeholder="Username" required autofocus>
                            </div>

                            % if message:
                            <div class="form-group has-error">
                            % else:
                            <div class="form-group">
                            % endif
                                <input class="form-control" name="password" id="password" type="password" placeholder="Password" required>
                            </div>

                            <input type="hidden" name="back" value="${back}">
                            <input type="hidden" name="method" value="Password">

                            <button type="submit" class="btn btn-primary col-md-12">Log in<i class="fa fa-sign-in fa-fw"></i></button>
                        </form>
                       </div>
                       {% if not authentication['oauth2']['github']['disabled'] or
                             not authentication['oauth2']['google']['disabled'] or
                             not authentication['oauth2']['bitbucket']['disabled'] or
                             not authentication['openid']['disabled'] or
                             not authentication['openid_connect']['disabled'] %}
                       <div id="login-form-toogling" style="padding-top: 50px;">
                         <a id="toggle" title="Click here to log in as an administrator or if you were provided with specific credentials" href="#">Toggle login form</a>
                       </div>
                       {% endif %}
                    </div>
                </div>
            </div>
        <script>
          $( "#toggle" ).click(function(){
            if ( $( "#login-form" ).hasClass( 'hidden' ) ) {
              $( "#login-form" ).removeClass('hidden');
            }
            else {
              $( "#login-form" ).addClass('hidden');
            }
          });
        </script>
        {{ theme['loginpage_custom_footer'] }}
    </body>
</html>
