<?xml version='1.0' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>Jenkins No-Reply &lt;jenkins@{{ fqdn }}&gt;</adminAddress>
  <jenkinsUrl>{{ jenkins_pub_url }}</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>
