[zuul]

[connection gerrit]
driver=gerrit
server=localhost
user=jenkins

{% for conn in gerrit_connections %}{% if not conn.disabled|default(False) %}
[connection {{ conn.name }}]
server=localhost
user=jenkins

{% endif %}{% endfor %}

[connection smtp]
driver=smtp
server=localhost

