<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-control" content="no-cache, max-age=0">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/topmenu.js"></script>
    <script src="/static/js/gerrit_dashboard.js"></script>
</head>

<body ng-app="sfGerritDashboard" ng-controller="mainController">
    <div ng-if="dashboardsList"><h1>Dashboards list</h1>
        <ul>
            <li ng-repeat="dashboard in dashboardsList"><a href="/dashboard/{{ dashboard.name }}" target="_self">{{ dashboard.title }}</a>: {{ dashboard.description }}</li>
        </ul>
    </div>
    <div ng-if="!dashboardsList"><h1>{{ Title }}</h1>
    <div ng-if="noReviewFound">No reviews found.</div>
    <table ng-if="reviewsCount > 0" class="table table-hover table-condensed">
        <thead><tr>
            <th width="50%">Change</th>
            <th>Project</th>
            <th>Owner</th>
            <th>Size</th>
            <th>Updated</th>
            <th align="center" width=13px>CR</th>
            <th align="center" width=13px>V</th>
            <th align="center" width=13px>W</th>
        </tr></thead>
        <tbody ng-repeat="dashboard in Sections">
            <tr><td colspan=8><b>{{ dashboard.title }}</b></td></tr>
            <tr ng-repeat="change in dashboard.results" ng-class="rowClass(change)">
                <td><a href='/r/{{ change._number }}' target="_self">{{ change.subject }}</a></td>
                <td><a href='/r/#/q/project:{{ change.project }}' target="_self">{{ change.project }}</a></td>
                <td>{{ change.owner.name }}</td>
                <td>+{{ change.insertions}} -{{ change.deletions }}</td>
                <td>{{ change.updated }}</td>
                <td align="center">{{ change.labels['Code-Review'].value }}</td>
                <td align="center">{{ change.labels['Verified'].value }}</td>
                <td align="center">{{ change.labels['Workflow'].value }}</td>
            </tr>
       </tbody>
    </table>
    <br />
    <br />
    Click here for <a href="{{ GerritDashboardLink }}" target="_self">Gerrit web-ui</a>
    </div>
</body>
</html>
