<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-control" content="no-cache, max-age=0">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/topmenu.js"></script>
    <script src="user_settings.js"></script>
</head>

<body ng-app="sfSettings" ng-controller="mainController">
    <div class="container" align="center">
        <h3>User {{user.username}} informations</h3>
        <form ng-submit="save()"><table width="50%">
            <tr data-toggle="tooltip" data-placement="left" title="The username is immutable!">
                <td width="30%"><label>Username</label></td>
                <td><input type="text" ng-model="user.username" ng-disabled="true" size=32 /></td>
            </tr>
            <tr>
                <td width="30%"><label>Full name</label></td>
                <td><input type="text" ng-model="user.fullname" ng-disabled="user.idp_sync" size=32  /></td>
            </tr>
            <tr>
                <td width="30%"><label>eMail</label></td>
                <td><input type="text" ng-model="user.email" ng-disabled="user.idp_sync" size=32  /></td>
            </tr>
            <tr data-toggle="tooltip" data-placement="left" title="When disabled, eMail and full name are not updated with Identity Provider data">
                <td width="30%"><label>Synchronize user data with the Identity Provider&nbsp;</label></td>
                <td><input type="checkbox" ng-model="user.idp_sync" /></td>
            </tr>
            <tr><td style="text-align: left" colspan="2">
                <input type="submit" value="Save" />
                <div class="alert alert-success" ng-show="showSuccessAlert">
                    <strong>Saved!</strong> {{successTextAlert}}
                    <button type="button" class="close" data-ng-click="showSuccessAlert = !showSuccessAlert">×</button>
                </div>
                <div class="alert alert-danger" ng-show="showErrorAlert">
                    <strong>Oops, couldn't save!</strong>
                    <button type="button" class="close" data-ng-click="showErrorAlert = !showErrorAlert">×</button>
                </div>

            </td></tr>
        </table></form>
    </div>
    <div class="container" id="api_key" align="center">
        <h3>API key</h3>
        <form ng-submit="regen_api_key()"><table width="50%">
            <tr data-toggle="tooltip" data-placement="left" title="This key is personal and can be used with the sfmanager command line interface to perform allowed operations" >
                <td width="30%"><label>Key</label></td>
                <td id="api_key_value">{{sf_api_key}}</td>
            </tr>
            <tr>
                <td style="text-align: left" colspan="2"><input type="submit" value="generate new API key"></td>
            </tr>
        </table></form>
    </div>
    <div class="container" id="gerrit_key" align="center">
        <h3>Gerrit API key</h3>
        <form><table width="50%">
            <tr data-toggle="tooltip" data-placement="left" title="This key is personal and can be used with the Gerrit REST API to perform allowed operations" >
                <td width="30%"><label>Key</label></td>
                <td id="gerrit_key_value">{{gerrit_api_key}}</td>
            </tr>
            <tr>
                <td style="text-align: left" colspan="2">
                    <input type="submit" ng-if="!htpasswd_set" ng-click="htpasswd_enable()" value="Enable">
                    <input type="submit" ng-if="htpasswd_set" ng-click="htpasswd_disable()" value="Disable">
                </td>
            </tr>
        </table></form>
    </div>

</body>
</html>
