<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-control" content="no-cache, max-age=0">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/topmenu.js"></script>
    <script src="user_settings.js"></script>
</head>

<body ng-app="sfSettings" ng-controller="mainController">
    <div class="container">
        <h3>User {{user.username}} informations</h3>
        <form ng-submit="save()">
            <div class="form-group" data-toggle="tooltip" data-placement="left" title="The username is immutable!">
                <label for="username">Username:</label>
                <input id="username" type="text" class="form-control" ng-model="user.username" ng-disabled="true" size=32 />
            </div>

            <div class="form-group">
                <label for="fullname">Full name:</label>
                <input id="fullname" type="text" class="form-control" ng-model="user.fullname" ng-disabled="user.idp_sync" size=32  />
            </div>
            <div class="form-group">
                <label for="email">eMail</label>
                <input id="email" type="text" class="form-control" ng-model="user.email" ng-disabled="user.idp_sync" size=32  />
            </div>
            <div class="checkbox" data-toggle="tooltip" data-placement="left" title="When disabled, eMail and full name are not updated with Identity Provider data">
                <label><input type="checkbox" ng-model="user.idp_sync" />Synchronize user data with the Identity Provider&nbsp;</label>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
            <div class="alert alert-success" ng-show="showSuccessAlert">
                <strong>Saved!</strong> {{successTextAlert}}
                <button type="button" class="close" data-ng-click="showSuccessAlert = !showSuccessAlert">×</button>
            </div>
            <div class="alert alert-danger" ng-show="showErrorAlert">
                <strong>Oops, couldn't save!</strong>
                <button type="button" class="close" data-ng-click="showErrorAlert = !showErrorAlert">×</button>
            </div>
        </form>
    </div>
    <div class="container" id="api_key">
        <h3>API key</h3>
        <form ng-submit="regen_api_key()">
            <div class="form-group" data-toggle="tooltip" data-placement="left" title="This key is personal and can be used with the sfmanager command line interface to perform allowed operations">
                <label for="key">Key:</label>
                <p id="key">{{sf_api_key}}</p>
            </div>
            <button type="submit" class="btn btn-default">Generate new API key</button>
        </form>
    </div>
    <div class="container" id="gerrit_key">
        <h3>Gerrit API key</h3>
        <form>
            <div class="form-group" data-toggle="tooltip" data-placement="left" title="This key is personal and can be used with the Gerrit REST API to perform allowed operations">
                <label for="gerrit_key_value">Key:</label>
                <p id="gerrit_key_value">{{gerrit_api_key}}</p>
            </div>
            <button type="submit" class="btn btn-default" ng-if="!htpasswd_set" ng-click="htpasswd_enable()">Enable</button>
            <button type="submit" class="btn btn-default" ng-if="htpasswd_set" ng-click="htpasswd_disable()">Disable</button>
        </form>
    </div>

</body>
</html>
