<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-control" content="no-cache, max-age=0">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/topmenu.js"></script>
    <script src="welcome.js"></script>
</head>

<body ng-app="sfWelcome" ng-controller="mainController">
    </br></br>
    <div class="container-fluid">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <h2><p>Welcome</p></h2>
                <h3>
                <p>This platform hosts git repositories, a review system and CI components. Use the top menu to access hosted services.
                   Below is the list of projects hosted on this platform. If you want to host a new project then propose a change
                   on the <a href="/r/gitweb?p=config.git;a=summary">config repository</a> as explained in this <a href="/docs/resources_user.html">documentation</a>.
                </p>
                </h3>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid"><div class="col-md-4" ng-repeat="(name, project) in Projects"><div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h4><b>{{ name }}</b></h4>
            </div>
            <div class="panel-body text-center">
                <p><h4>{{ project.description }}</h4></p>
            </div>
            <ul class="list-group">
                <li ng-if="project.website" class="list-group-item"><span class="glyphicon glyphicon-home"> Website: <a href="{{ project.website }}">{{ project.website }}</a></span></li>
                <li ng-if="project.documentation" class="list-group-item"><span class="glyphicon glyphicon-info-sign"> Documentation: <a href="{{ project.documentation }}">{{ project.documentation }}</a></span></li>
                <li ng-if="project['issue-tracker-url']" class="list-group-item"><span class="glyphicon glyphicon-barcode"> Issue-tracker: <a href="{{ project['issue-tracker-url'] }}">{{ project['issue-tracker-url'] }}</a></span></li>
                <li ng-if="project['review-dashboard']" class="list-group-item"><span class="glyphicon glyphicon-th-list"> Review dashboard: <a href="/dashboard/project_{{ name }}">{{ project['review-dashboard'] }}</a></span></li>
                <li ng-if="project.contacts" class="list-group-item"><span class="glyphicon glyphicon-envelope"> Contact:</span>
                    <ul><li ng-repeat="(id, contact) in project.contacts"><a href="mailto:{{ contact }}">{{ contact }}</a></li></ul>
                </li>
                <li ng-if="project['mailing-lists']" class="list-group-item"><span class="glyphicon glyphicon-envelope"> Mailing-list:</span>
                    <ul><li ng-repeat="(id, contact) in project['mailing-lists']"><a href="mailto:{{ contact }}">{{ contact }}</a></li></ul>
                </li>
            </ul>
            <div ng-if="project['source-repositories']">
                <h4 class="bg-info text-center">Associated git repositories ({{project['source-repositories'].length}})</h4>
            </div>
            <div ng-if="project['source-repositories']">
                <ul class="list-group">
                    <li ng-hide="id >= dlimit && hide" ng-repeat="(id, name) in project['source-repositories']" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ name }}</h4>
                        <p class="list-group-item-text">Description: {{ Repos[name].description }}</p>
                        <p class="list-group-item-text">Clone: git clone {{ host }}/r/{{ name }}</p>
                        <p class="list-group-item-text">Gitweb: <a href="/r/gitweb?p={{ name }}.git;a=shortlog;h=HEAD">last commits</a> / <a href="/r/gitweb?p={{ name }}.git;a=tree">browse files</a></p>
                        <p class="list-group-item-text">Code review: <a href="/r/#/q/status:open+project:{{ name }}">open reviews</a></p>
                    </li>
                    <div ng-hide="project['source-repositories'].length < dlimit">
                    <p class="text-info text-center" ng-click="hide = ! hide"><b>...</b></p>
                    </div>
               </ul>
            </div>
        </div>
    </div>
</body>
</html>
