SET @http_auth_config_name="plugin_redmine_http_auth";
SET @http_auth_config_value="--- !ruby/hash:ActiveSupport::HashWithIndifferentAccess
  enable: 'true'
  server_env_var: REMOTE_USER
  lookup_mode: login
  auto_registration: 'true'
";
SET @api_key="{{ redmine_api_key }}";
SET @username="admin";
SET @email="admin@{{ fqdn }}";
SET @host="{{ redmine_pub_url }}";
SET @mailfrom="redmine@{{ fqdn }}";
SET @footer="You have received this notification because you have either subscribed to it, or are involved in it. To change your notification preferences, please click here: {{ redmine_pub_url }}my/account";


INSERT IGNORE INTO settings (name, value, updated_on) SELECT * FROM (SELECT 'rest_api_enabled','1', CURRENT_TIMESTAMP()) AS TMP WHERE NOT EXISTS(SELECT name FROM settings WHERE name='rest_api_enabled');
INSERT INTO settings (name, value, updated_on) SELECT * FROM (SELECT @http_auth_config_name, @http_auth_config_value, CURRENT_TIMESTAMP()) AS TMP WHERE NOT EXISTS(SELECT name FROM settings WHERE name=@http_auth_config_name);

INSERT INTO users (id, login, hashed_password, firstname, lastname, mail, admin, status, type, mail_notification) VALUES (3, @username, '', @username, 'Redmine Admin', @email, 1, 1, 'User', 'all') ON DUPLICATE KEY UPDATE login=@username,firstname=@username,mail=@email;
DELETE FROM users WHERE id=1; # Autocreated Admin user
DELETE FROM users WHERE id=2; # Autocreated Anonymous user
SELECT id INTO @user_id FROM users WHERE login=@username;
INSERT INTO tokens (user_id, action, value, created_on) VALUES(@user_id, 'api', @api_key, CURRENT_TIMESTAMP()) ON DUPLICATE KEY UPDATE value=@api_key, created_on=CURRENT_TIMESTAMP();

DELETE FROM settings WHERE name='host_name';
INSERT IGNORE INTO settings (name, value, updated_on) VALUES('host_name', @host, CURRENT_TIMESTAMP());
DELETE FROM settings WHERE name='mail_from';
INSERT IGNORE INTO settings (name, value, updated_on) VALUES('mail_from', @mailfrom, CURRENT_TIMESTAMP());
DELETE FROM settings WHERE name='emails_footer';
INSERT IGNORE INTO settings (name, value, updated_on) VALUES('emails_footer', @footer, CURRENT_TIMESTAMP());

UPDATE roles SET permissions = CONCAT_WS('\n', permissions, '- :view_master_backlog') WHERE name = 'Non member' AND permissions NOT LIKE CONCAT('%', '- :view_master_backlog', '%');
UPDATE roles SET permissions = CONCAT_WS('\n', permissions, '- :create_stories') WHERE name = 'Non member' AND permissions NOT LIKE CONCAT('%', '- :create_stories', '%');

DELETE FROM settings WHERE name='ui_theme';
INSERT IGNORE INTO settings (name, value, updated_on) VALUES('ui_theme', "classic", CURRENT_TIMESTAMP());

SET @backlog_config="--- !ruby/hash:ActiveSupport::HashWithIndifferentAccess
story_trackers:
- '5'
- '1'
default_story_tracker: '5'
task_tracker: '4'
wiki_template: ''
show_redmine_std_header: enabled
scrum_stats_menu_position: top
story_points: 0.5,1,2,3,5,8,13,20,40,100
new_story_position: bottom
story_follow_task_status: nil
story_close_status_id: '0'
points_burn_direction: down
burndown_print_width: ''
burndown_print_height: ''
show_burndown_in_sidebar: enabled
burndown_timezone: Etc/GMT-0
card_spec: APLI 01293
taskboard_card_order: story_follows_tasks
autorefresh_wait: '1000'
sprint_sort_order: asc
sharing_enabled: enabled
sharing_new_sprint_sharingmode: none
";

INSERT IGNORE INTO trackers (id, name, is_in_chlog, position, is_in_roadmap, fields_bits) VALUES(5, "Story", 0, 5, 1, 0);
DELETE FROM settings WHERE name='plugin_redmine_backlogs';
INSERT IGNORE INTO settings (name, value, updated_on) VALUES('plugin_redmine_backlogs', @backlog_config, CURRENT_TIMESTAMP());
UPDATE users SET mail_notification="none" WHERE login = 'admin';
