Listen 8083
NameVirtualHost *:8083

<VirtualHost redmine.{{fqdn}}:8083>

LogLevel warn
RailsBaseURI /
Alias /plugin_assets/ /var/www/redmine/plugins/redmine_backlogs/assets/
PassengerAppRoot /var/www/redmine
PassengerDefaultUser apache

Alias / /var/www/redmine/public/

RewriteEngine On
RewriteCond %{REQUEST_URI} ^/logout$
RewriteCond %{QUERY_STRING} (^.*$)
RewriteCond %1 ^$
RewriteRule logout /auth/logout?service=redmine [R,L,CO=_redmine_default:;:;:0:/redmine]

RewriteCond %{REQUEST_URI} ^/logout$
RewriteCond %{QUERY_STRING} ^services=(.*)$
RewriteCond %1 !^$
RewriteRule logout /auth/logout?services=%1 [R,L,CO=_redmine_default:;:;:0:/redmine]

<Directory /var/www/redmine/public>
  AllowOverride all
  Options -MultiViews
  <If "%{HTTP_COOKIE} =~ /auth_pubtkt=.*/">
      AuthType mod_auth_pubtkt
      TKTAuthLoginURL /auth/login
      TKTAuthFakeBasicAuth on
      TKTAuthDebug 1
      require valid-user
 </If>
 <Else>
      require all granted
 </Else>
</Directory>

<Directory /var/www/redmine/plugins/redmine_backlogs/assets/>
  AllowOverride all
  Options -MultiViews
  require all granted
</Directory>

# Redirect Redmine links to the login page
<LocationMatch "/(login|account/register).*">
  RewriteEngine On
  RewriteRule /.*$ /auth/login?back=/redmine/ [R,L]
</LocationMatch>
</VirtualHost>
