[project]
	description = %(project-description)s
[access "refs/*"]
	read = deny group Registered Users
	read = deny group Anonymous Users
	read = group %(core-group)s
	read = group %(dev-group)s
	owner = group %(ptl-group)s
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group %(core-group)s
	label-Code-Review = -1..+1 group %(dev-group)s
	label-Verified = -2..+2 group %(ptl-group)s
	label-Workflow = -1..+1 group %(core-group)s
	submit = group %(ptl-group)s
	submit = group %(core-group)s
	read = group %(core-group)s
	read = group %(dev-group)s
[access "refs/meta/config"]
	read = group %(core-group)s
	read = group %(dev-group)s
[access "refs/for/refs/*"]
	push = group %(dev-group)s
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = fast forward only
