[project]
	description = %(project-description)s
[access "refs/*"]
  read = group %(core-group)s
  owner = group %(ptl-group)s
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group %(core-group)s
	label-Verified = -2..+2 group %(ptl-group)s
	label-Workflow = -1..+1 group %(core-group)s
	submit = group %(ptl-group)s
	read = group %(core-group)s
[access "refs/meta/config"]
    read = group %(core-group)s
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = fast forward only
