[Unit]
Description=Web based code review and project management for Git based projects
After=network.target

[Service]
Type=simple
User=gerrit
SyslogIdentifier=gerrit
ExecStartPre=/usr/libexec/wait4mariadb
ExecStartPre=/usr/bin/java -jar /home/gerrit/gerrit.war reindex -d /home/gerrit/site_path
ExecStart=/usr/bin/java -Xmx{{ gerrit.gerrit_heap_limit }} -Djava.security.egd=file:///dev/urandom -jar /home/gerrit/site_path/bin/gerrit.war daemon -d /home/gerrit/site_path
ExecStartPost=/usr/libexec/wait4gerrit
LimitCPU=infinity
LimitFSIZE=infinity
LimitDATA=infinity
LimitCORE=0
LimitAS=infinity
LimitLOCKS=infinity

[Install]
WantedBy=multi-user.target
