#!/bin/sh

set -x
set -e

JENKINS_SSHKEY="ssh-rsa {{ creds_jenkins_pub_key }}"

# Check if Jenkins user does not exist yet
JENKINS_USER_EXISTS=`ssh -i /root/gerrit_admin_rsa -p29418 admin@localhost gerrit ls-members \"Non-Interactive Users\" | { grep Jenkins || true; }`

if [ -z "$JENKINS_USER_EXISTS" ]; then
    echo "$JENKINS_SSHKEY" | ssh -i /root/gerrit_admin_rsa -p29418 admin@localhost gerrit create-account jenkins -g \"Non-Interactive Users\" --email admin@{{ fqdn }} --full-name \"Jenkins CI\" --ssh-key -
fi
