#!/bin/sh
# This script helps to upgrade project ACLs and disables read access to
# refs/meta/config on private projects. It's only for already existing projects;
# new private projects should have this setting by default

set -x
set -e

# Git config complains about HOME env var missing ...
export HOME=/root

ADMINUSER=admin
ADMINUSEREMAIL=admin@{{fqdn }}


function upgrade_project_acl {
    PROJECT=$1
    CLONETEMPDIR="/tmp/${PROJECT}"
    [ -d "$CLONETEMPDIR" ] && rm -Rf $CLONETEMPDIR
    git init $CLONETEMPDIR
    pushd $CLONETEMPDIR
    git config --global user.name "Software Factory Administrator"
    git config --global user.email $ADMINUSEREMAIL
    git remote add origin ssh://$ADMINUSER@localhost:29418/${PROJECT}
    git fetch origin refs/meta/config:refs/remotes/origin/meta/config
    git checkout meta/config

    meta_config=`git config -f project.config -l`

    CHANGED=0

    if echo "$meta_config" | grep -i -q "access.refs/\*.read=deny group Registered Users" ; then
        if echo "$meta_config" | grep -i -v -q "access.refs/meta/config.read=deny group Registered Users" ; then
            git config -f project.config --add access.refs/meta/config.read "deny group Registered Users"
            CHANGED=1
        fi
    fi

    if echo "$meta_config" | grep -i -q "access.refs/\*.read=deny group Anonymous Users" ; then
        if echo "$meta_config" | grep -i -v -q "access.refs/meta/config.read=deny group Anonymous Users" ; then
            git config -f project.config --add access.refs/meta/config.read "deny group Anonymous Users"
            CHANGED=1
        fi
    fi

    if [ $CHANGED ]; then
        git status
        git diff
        git add project.config
        git commit -a -m "Auto upgrade ACLs"
        git push origin meta/config:meta/config
    fi
    popd
}

projects=`/root/gerrit_data_source/ssh_wrapper.sh -p 29418 -l admin gerrit "gerrit ls-projects" --all`
for project in ${projects}; do
    upgrade_project_acl ${project}
done
