[gerrit]
    basePath = git
    canonicalWebUrl = {{ gerrit_pub_url }}
    gitHttpUrl =
[database]
    type = MYSQL
    hostname = {{ gerrit_mysql_host }}
    database = {{ gerrit_mysql_db }}
    username = {{ gerrit_mysql_user }}
    port = {{ gerrit_mysql_port }}
    url = jdbc:mysql://{{ gerrit_mysql_host }}/{{ gerrit_mysql_db }}?useUnicode=yes&characterEncoding=UTF-8
{% if gerrit_connection_pool %}
    connectionPool = true
    poolLimit = {{ gerrit_connection_pool }}
{% endif %}
[auth]
    type = HTTP
    gitBasicAuth = true
    loginUrl = /r/login
    logoutUrl = /auth/logout
[container]
    user = gerrit
    javaHome = /usr/lib/jvm/java-1.6.0-openjdk-1.6.0.0.x86_64/jre
    heapLimit = {{ gerrit_heap_limit }}
[sshd]
    listenAddress = "*:29418"
[httpd]
    listenUrl = proxy-https://0.0.0.0:{{ gerrit_port }}/r/
[commentlink "changeid"]
    match = (I[0-9a-f]{8,40})
    link = "#q,$1,n,z"
[commentlink "testresult"]
    match = "<li>([^ ]+) <a href=\"[^\"]+\" target=\"_blank\">([^<]+)</a> : ([^ ]+)([^<]*)</li>"
    html = "<li class=\"comment_test\"><span class=\"comment_test_name\"><a href=\"$2\" rel=\"nofollow\">$1</a></span> <span class=\"comment_test_result\"><span class=\"result_$3\">$3</span>$4</span></li>"
{% for commentlink in commentlinks %}
[commentlink "{{ commentlink.name }}"]
    match = "{{ commentlink.match }}"
    html = "{{ commentlink.html }}"
{% endfor %}
[gitweb]
    cgi = {{ gitweb_cgi }}
[sendemail]
    enable = true
    from = MIXED
    smtpServer = 127.0.0.1
    smtpServerPort = 25
    smtpUser =
[download]
    scheme = ssh
    scheme = http
    scheme = anon_http
[suggest]
    accounts = true
    from = 2
[cache]
    directory = cache
[user]
    email = {{ gerrit_email }}
[plugins]
    allowRemoteAdmin = true
[mimetype "image/*"]
        safe = true
[mimetype "text/x-yaml"]
        safe = true
[mimetype "text/xml"]
        safe = true
[mimetype "application/xml"]
        safe = true
[mimetype "text/x-rst"]
        safe = true
[mimetype "text/plain"]
        safe = true
[mimetype "text/x-puppet"]
        safe = true
[mimetype "text/x-ini"]
        safe = true
[mimetype "text/x-properties"]
        safe = true
[mimetype "text/x-markdown"]
        safe = true
[mimetype "text/css"]
        safe = true
