[Unit]
Description=Run Etherpad-lite, the collaborative editor.
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/var/www/etherpad-lite-1.4.0/run.sh

[Install]
WantedBy=multi-user.target
