[Unit]
Description=Run Etherpad-lite, the collaborative editor.
After=syslog.target network.target

[Service]
Type=simple
ExecStartPre=/usr/libexec/wait4mariadb
ExecStart=/var/www/etherpad-lite/run.sh
Restart=always

[Install]
WantedBy=multi-user.target
