database=/var/lib/murmur/murmur.sqlite
logfile=/var/log/murmur/murmur.log
pidfile=/var/run/murmur.pid
port=64738
welcometext=SF mumble server hosted at {{ fqdn }}
suggestPushToTalk=true
uname=murmur

# Security
bandwidth=72000
sendversion=false
legacyPasswordHash=false
allowping=false
users=100
channelname=[ \\-=\\w\\#\\[\\]\\{\\}\\(\\)\\@\\|]+
username=[-=\\w\\[\\]\\{\\}\\(\\)\\@\\|\\.]+
{% if mumble['password'] %}
serverpassword={{ mumble['password'] }}
{% endif %}

# Ice access
ice="tcp -h murmur.{{ fqdn }} -p 6502"
icesecretwrite={{ mumble_ice_secret }}

[Ice]
Ice.Warn.UnknownProperties=1
Ice.MessageSizeMax=65536
