max_bandwidth = 48000;
welcometext = "{{ murmur_welcome_text }}";
certificate = "/var/lib/umurmurd/cert.crt";
private_key = "/var/lib/umurmurd/key.key";
password = "{{ murmur_password }}";
max_users = {{ murmur_max_users }};

logfile = "/var/log/umurmurd/umurmurd.log";
channels = ( {
         name = "Root";
         parent = "";
         description = "Root channel. No entry.";
         noenter = true;
         },
         {
         name = "Lobby";
         parent = "Root";
         description = "Lobby channel";
         },
         {
         name = "Silent";
         parent = "Root";
         description = "Silent channel";
         silent = true; # Optional. Default is false
         }
{% for channel in murmur_channels %}
         ,{
         name = "{{ channel['name'] }}";
         parent = "Lobby";
         description = "{{ channel['description'] }}";
         password = "{{ channel['password']|default('') }}";
         }
{% endfor %}
);
default_channel = "Lobby";
