[Unit]
Description=RepoXplorer indexer daemon
After=syslog.target

[Service]
User=repoxplorer
Group=repoxplorer
ExecStart=/srv/repoxplorer/bin/repoxplorer-indexer --forever

[Install]
WantedBy=multi-user.target
