[Unit]
Description=RepoXplorer web ui
After=syslog.target

[Service]
User=repoxplorer
Group=repoxplorer
ExecStart=/srv/repoxplorer/bin/uwsgi --http-socket :8091 --pecan /srv/repoxplorer/local/share/repoxplorer/config.py

[Install]
WantedBy=multi-user.target
